#lageplan-picture{
    width: 1754px;
    height: calc(100vh - 56px);
    background-image: url(../../assets/lageplan/19035_JWS_WIR_Dill_2020_06_Lageplan_01e-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    overflow-x: scroll;;
}
