<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label class="ion-text-wrap">
        <h1 class="h4"> {{item.Name}}</h1>
      	<div *ngIf="item.Produkte as ''">
          <p class="produkte"><b>Produkte:</b> {{item.Produkte}}</p>
          <p class="kategorie"><b>Kategorie:</b> {{item.Kategorie}}</p>
        </div>
      </ion-label>
      <div class="item-note" slot="end">
        {{item.Hallenname}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
