<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Eintrittspreise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="h3">Tageskarten</h1>
    <ion-item *ngFor="let i of preise">
      <ion-label class="ion-text-wrap">
        <p class="art"><b>{{i.Art}}</b></p>
        <p class="preis"> {{i.Preis}}</p>
      </ion-label>
    </ion-item>

    <h1 class="h3">Die WIR in Dillingen 2020 erleben und sparen:</h1>
    <ion-item *ngFor="let i of sparen">
      <ion-label class="ion-text-wrap">
        <p class="art"><b>{{i.Art}}</b></p>
        <p class="preis"> {{i.Preis}}</p>
      </ion-label>
    </ion-item>

    <h1 class="h4 green">Dauerkarte zum Aufpreis von 2€</h1>
      <p>Die WIR-Dauerkarte berechtigt zum permanenten Besuch der WIR Dillingen, täglich von 10 bis 18 Uhr und gilt nur für Personen, nicht für Gruppen.</p>
  </div>
</ion-content>