div.slide-container{
    height: calc(100vh - 48px);
    overflow: scroll;
}
div.slide-container img{
    height: auto;
    width: 90%;
}

p{
    font-size: 1.25rem;
    hyphens: auto;
    text-align: left;
}