<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Themenplakate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides scrollbar="true" [options]="slideOpts">
    <ion-slide>
      <div class="slide-container">
        <img src="../../assets/themenplakate/WIR Gunzenhausen 2019 Wir sind dabei Plakat.jpg">
        <div class="container">
          <h3>Wir sind dabei!</h3>
          <p>Über 250 Aussteller aus der Region.</p>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-container">
        <img src="../../assets/themenplakate/WIR Gunzenhausen 2019 Themenplakat Genuss.jpg">
        <h3>Genuss!</h3>
      </div>
    </ion-slide>
 <!--    <ion-slide>
      <h1>Mobilität!</h1>
      <img src="../../assets/themenplakate/WIR Gunzenhausen 2019 Themenplakat Mobilität.jpg">
    </ion-slide> -->
  </ion-slides>
</ion-content>