<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tagesprogramm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <div class="container">
        <h2 class="h4">Alle Aktion in der Übersicht!</h2>
      </div>
  <div class="accordion-container" *ngFor="let item of programm; let id = index;">
    <button id=programm-{{id}} class="accordion" (click)="Akkordion('programm-'+id)">{{item[0]}}</button>
    <div class="panel">
      <ion-item *ngFor="let i of item[1]">
        <ion-label class="ion-text-wrap">
          <p class="programm-thema-heading"><b>{{i.Thema}}</b></p>
          <div>
            <p class="aussteller" *ngIf="i.Aussteller != ''"><b>Aussteller:</b> {{i.Aussteller}}</p>
            <p class="ort-zeit">
              <span *ngIf="i.Uhrzeit != ''">{{i.Uhrzeit}}</span> –
              <span>{{i.Halle}}</span>
            </p>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
  <div class="container">
      <p>Änderungen und Ergänzungen vorbehalten!</p>
    </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="primary">
      <ion-button (click)="ScrollToTop()">
        <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <ul id="scroll-nav">
        <li *ngFor="let item of items"><a href=list#{{item[0]}}>{{item[0]}}</a></li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>