<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Programm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="secondary">
      <ion-button (click)="openActionSheet()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="ScrollToTop()">
        <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <ul id="scroll-nav">
        <li *ngFor="let item of items"><a href=list#{{item[0]}}>{{item[0]}}</a></li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>