<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="h2 green">Herzlich Willkommen zur WIR in Dillingen 2020</h1>
    <h2 class="h3">WIR Dillingen - Raum zum Entdecken</h2>
    <p>Die Wirtschafts-, Informations- und Verkaufsausstellung WIR in Dillingen ist die Informations- und Verkaufmesse
      in der Region. Getragen von sechs Wirtschaftsvereinigungen im Landkreis Dillingen stellt sie eine echte
      Wirtschaftsplattform für den Landkreis und die Region Nordschwaben dar.</p>
    <p>Die Verbrauchermesse bietet Raum zum aktiven Mitmachen, zum Staunen, zum Einkaufen, zum Kennenlernen und Testen
      neuester Trends und Produkte. Sonderschauen zu zeitgemäßen Themen und ein tolles Rahmenprogramm für alle
      Familienmitglieder vom Kind bis zum Senior machen die WIR zum Top-Event und zum Ausflugsziel für die ganze
      Familie..</p>
    <h3 class="green">Highlights</h3>
    <ion-list id="programm-highlights">
      <ion-item>
        <ion-label>
          <span><b>Menschen Bewegen</b></span>
          <p>Die große Gesundheitsaktion</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span><b>Die beste Wahl: Kauf Regional</b></span>
          <p>Regionale Produkte und regionale Dienstleister</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <span><b>NO FUN NO WIR</b></span>
          <p>Auf der WIR Neues Erleben und Entdecken, was das Herz begehrt!</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <h3>Anfahrt</h3>
    <h4>Festplatz Donaupark</h4>
    <p>Christastraße <br>
      89407 Dillingen a.d. Donau <br>
      <a href="https://goo.gl/maps/grTSTVVVjNZMzFrC8">Google POI</a></p>
  </div>
</ion-content>